{% extends "base.html" %}

{% block title %}Jugador - {{ jugador_user.username|capfirst }}{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row justify-content-center">
        <div class="mt-5 text-center">
          <h1>Bienvenido {{ jugador_user.username|capfirst }}</h1>
          <p>Nivel de Jugador: {{ jugador_profile.nivel }}</p>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cerrar sesión</button>
          </form>
      </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <h2>Mis Juegos</h2>
        </div>
    </div>
    <div class="row">
        {% for item in juegos_participaciones_data %}
            <div class="col-lg-4 mt-3 d-flex align-items-stretch">
                <div class="card w-100">
                    <img src="{% static item.juego.imagen %}" class="card-img-top" alt="Imagen de {{ item.juego.nombre }}" style="height: 200px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ item.juego.nombre }}</h5>
                        {% if item.participacion %}
                            <p><strong>Detalles de tu participación:</strong></p>
                            {% if item.participacion.detalles %}
                                {% for key, value in item.participacion.detalles.items %}
                                    <p class="card-text mb-1">{{ key|capfirst }}: {{ value }}</p>
                                {% endfor %}
                            {% else %}
                                <p class="card-text mb-1">No hay detalles específicos para mostrar.</p>
                            {% endif %}
                        {% else %}
                            <p>No estás inscrito en este juego.</p>
                            <a href="{% url 'inscribir-juego' item.juego.id %}" class="btn btn-primary mt-auto">Activar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">
                <p>No hay juegos disponibles en este momento.</p>
            </div>
        {% endfor %}
    </div>
 </div>
{% endblock %}